.toggle_menu {
    box-shadow: 0 0px 4px rgba(0,0,0,0.15);
    transition: transform 1.25s;
}

.toggle_menu:hover {
    transition: 1000ms;
    box-shadow: 10px rgba(0, 0, 0, 0.863);
    border: 1px solid #0000003d;
}

.menu_1 li a:hover {
    transition: 1000ms;
    border: 1px solid #0000003d;
}

.menu_1.active li {
    scale: 1;
    transform: rotate(calc(360deg / var(--list_social) * var(--i)));
}

.menu_1 li {
    position: absolute;
    left: 0;
    list-style: none;
    scale: 0;
    transform-origin: 100px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(100px);
}

.menu_1 li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--clr);
    border-radius: 50%;
    transform: rotate(calc(360deg / calc(var(--list_social) * -1) * var(--i)));
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
}

.menu_1.active .toggle_menu {
    transform: rotate(315deg);
    border: 2px solid rgba(0, 0, 0, 0.239); 
}